/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    TAVOLOZZA DEI COLORI
*/

:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #F5F5F5;
    --medium-grey: #C9C9C9;
    --dark-grey: #999999;
    --blue: #0061FF;
    --medium-blue: #0093CE;
    --light-blue: #B4D0E7;
    --dark-blue: #0D2481;
    --green: #A2D39B;
    --light-green: #D1E9CD;
    --yellow: #FFD830;
    --red: #D5001F;
    --bright-red: #FF1C1C; 
    --bordeaux: #61082B;
}



/* 
    GENERAL
*/

* {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}



.container {
    max-width: 1200px;
    margin: auto;
}

.small-container {
    max-width: 1000px;
    margin: auto;
}

.my-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 80px;
    margin-bottom: 50px;
}


/* 
    HEADER
*/

header {

    position:fixed;
    width: 100%
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


.navbar ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 10px;
}

.navbar a {
    text-decoration: none;
    
}

.blue-button {
    padding: 15px 30px;
    background-color: var(--blue);
    color: var(--white);
}

/* 
    JUMBOTRON
*/

.jumbotron {
    background-color: var(--light-blue);
}

.jumbo-col-1 {
    width: 30%;
}

.jumbo-col-2 {
    width: 70%;
}

.jumbotron .jumbo-col-1 a {
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
}

.jumbotron .jumbo-col-2 img {
    width: 100%;
}

.position {
    position: relative;
    top: 60px;
}

.fa-arrow-down {
    margin-top: 130px;
    font-size: 50px;
}