/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    TAVOLOZZA DEI COLORI
*/

:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #F5F5F5;
    --medium-grey: #C9C9C9;
    --dark-grey: #999999;
    --blue: #0061FF;
    --medium-blue: #0093CE;
    --light-blue: #B4D0E7;
    --dark-blue: #0D2481;
    --green: #A2D39B;
    --light-green: #D1E9CD;
    --yellow: #FFD830;
    --red: #D5001F;
    --bright-red: #FF1C1C; 
    --bordeaux: #61082B;
 
}



/* 
    GENERAL
*/

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

button {
    padding: 5px 10px ;
}

ul {
    list-style: none;
}

li, button {
    font-size: 15px;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

p {
    font-size: 14px;
}



/* 
    UTILITIES
*/

.blue-button {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid transparent;
}

.flex {
    display: flex;
}

.fl-basis {
    flex-basis: 35%;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}


/* 
    NAVBAR
*/

.navbar {
    background-color: var(--white);
    height: 70px;
    padding: 0 5px;
    flex-basis: 100%;
    align-items: center;
}

.navbar .right {
    justify-content: flex-end;
}

.actions > ul {
    display: flex;
    padding: 20px 0;
}

.left li {
    padding: 25px 10px;
}

.right li {
    padding: 20px 10px;
}

.logo {
    padding: 25px 0;
}

.logo > img {
    width: 90%;
    padding: 5px;
}

.nav-button {
    position: relative;
    bottom: 2px;
}

/* 
    JUMBOTRON
*/

.jumbotron {
    height: 480px;
    background-color: var(--light-blue);
    padding-top: 30px;
}

.title {
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
}

.content {
    width: 100%;
}

.description > * {
    margin-bottom: 20px;
}

.description a {
    color: var(--black);
}

.jumbotron-image {
    flex-basis: 65%;
    height: 320px;
}

